<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap(css)の宣言 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Bootstrap(javascript)の宣言 -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>アカウント登録確認画面</title>
</head>
<body>
	<div class="d-flex flex-column vh-100">
		<header class="border-bottom px-3 py-4">
			<div class="d-flex align-items-center justify-content-between">
				<a href="/book_forest_takayukimuranaka/" class="link-body-emphasis text-decoration-none fs-4">
					Feepsネット図書館～図書の森～
				</a> 
				<a href="/book_forest_takayukimuranaka/auth/login" class="text-center">
					ログイン画面へ
				</a>
			</div>
		</header>
		<div class="d-flex flex-grow-1 justify-content-center align-items-center">
			<div class="card" style="min-width: 22rem;">
				<div class="card-body px-5 py-4">
					<h5 class="card-title fw-bold">
						アカウント登録内容確認
					</h5>
					<div class="mt-4">
						<div class="form-label">お名前：</div>
						<div th:text="${form.userName}" class="fs-5 border-bottom"></div>
					</div>
					<div class="mt-3">
						<div class="form-label">パスワード：</div>
						<div class="border-bottom">※ 非表示</div>
					</div>
					<div class="mt-3">
						<div class="form-label">メールアドレス：</div>
						<div th:unless="${#strings.isEmpty(form.email)}" th:text="${form.email}" class="fs-5 border-bottom"></div>
						<div th:if="${#strings.isEmpty(form.email)}" class="border-bottom">なし</div>
					</div>
					<div class="mt-4">
						<form action="/book_forest_takayukimuranaka/user/register/complete" method="POST">
							<input type="hidden" name="userName" th:value="${form.userName}" required />
							<input type="hidden" name="password" th:value="${form.password}" required />
							<input type="hidden" name="email" th:value="${form.email}" />
							<div class="d-flex gap-3">
								<input type="submit" value="登録" class="btn btn-primary w-100" />
								<input type="button" onClick="location.href='/book_forest_takayukimuranaka/user/register'" value="戻る" class="btn btn-secondary w-100" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-dark-subtle">
			<div class="text-center">
				<div class="text-muted py-3">COPYRIGHT © 2024 takayuki muranaka - ALL RIGHTS RESERVED.</div>
			</div>
		</footer>
	</div>
</body>
</html>
