<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>書籍一覧</title>
</head>
<body>
	<p><a href="/book_forest_takayukimuranaka/user/edit"><span th:text="${session.user.userName}"></span></a> さんようこそ。</p>
	<a href="/book_forest_takayukimuranaka/auth/logout">ログアウト</a>
	<form action="/book_forest_takayukimuranaka/books/search" method="GET">
		<input type="text" name="title" />
		<input type="submit" value="検索" />
	</form>
	<p>※貸出期間は本日から<span th:text="${rentalDate}"></span>日間です。</p>
	<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
	<table>
		<tr>
			<th>ID</th>
			<th>タイトル</th>
			<th>著作者</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.bookId}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td><input type="button" th:onclick="|location.href='/book_forest_takayukimuranaka/books/${book.bookId}/rental'|" value="借りる" /></td>
		</tr>
	</table>
	<div th:each="rentalBook: ${rentalBooks}">
		<form action="/book_forest_takayukimuranaka/rentals" method="GET">
			<input type="hidden" name="bookId" th:value="${rentalBook.book.bookId}" />
			<input type="hidden" name="title" th:value="${rentalBook.book.title}" />
			<input type="hidden" name="author" th:value="${rentalBook.book.author}" />
			<input type="hidden" name="rentalLocalDate" th:value="${rentalBook.rentalLocalDate}" />
			<input type="hidden" name="dueLocalDate" th:value="${rentalBook.dueLocalDate}" />
			<input type="submit" th:value="${rentalBook.book.title}" />
		</form>
	</div>
	<input type="button" onclick="location.href='/book_forest_takayukimuranaka/rentals/history'" value="貸出履歴" />
</body>
</html>