<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>貸出中書籍確認画面</title>
</head>
<body>
	<table>
		<tr>
			<th>書籍ID</th>
			<th>タイトル</th>
			<th>著者</th>
			<th>貸出日</th>
			<th>返却日</th>
		</tr>
		<tr>
			<td th:text="${rentalBook.bookId}"></td>
			<td th:text="${rentalBook.title}"></td>
			<td th:text="${rentalBook.author}"></td>
			<td th:text="${#temporals.format(rentalBook.rentalLocalDate, 'yyyy年MM月dd日')}"></td>
			<td th:text="${#temporals.format(rentalBook.dueLocalDate, 'yyyy年MM月dd日')}"></td>
		</tr>
	</table>
	<input type="button" onClick="location.href='/book_forest_takayukimuranaka/books'" value="戻る" />
</body>
</html>