<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- css ファイルの宣言 -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- Bootstrap(css)の宣言 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Bootstrap(javascript)の宣言 -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>ログイン画面</title>
</head>
<body>
	<div class="d-flex flex-column vh-100">
		<header class="px-3 py-4 bg-dark-subtle border-bottom border-dark-subtle">
			<div class="d-flex align-items-center justify-content-between">
				<a href="/book_forest_takayukimuranaka" class="link-body-emphasis text-decoration-none fs-4">
					Feepsネット図書館～図書の森～
				</a> 
				<a href="/book_forest_takayukimuranaka/user/register" class="text-center">
					アカウント登録画面へ
				</a>
			</div>
		</header>
		<div class="d-flex flex-grow-1 justify-content-center align-items-center">
			<form action="/book_forest_takayukimuranaka/auth/login" method="POST">
				<div class="card card-size-sm">
					<div class="card-body px-5 py-4">
						<h5 class="card-title fw-bold">
							ログイン
						</h5>
						<div class="mt-4">
							<label for="userId" class="form-label">ID</label>
							<input type="number" name="userId" id="userId" class="form-control" required />
						</div>
						<div class="mt-3">
							<label for="password" class="form-label">パスワード</label>
							<input type="text" name="password" id="password" class="form-control" required />
						</div>
						<div th:if="${errorMessage}" class="mt-3 border rounded bg-danger-subtle border-danger-subtle">
							<div th:text="${errorMessage}" class="p-2 text-danger text-center"></div>
						</div>
						<div class="mt-4">
							<input type="submit" value="ログイン" class="btn btn-primary w-100" />
						</div>
					</div>
				</div>
			</form>
		</div>
		<footer class="bg-light-subtle border-top bg-light-subtle">
			<div class="text-center">
				<div class="py-3 text-muted">COPYRIGHT © 2024 takayuki muranaka - ALL RIGHTS RESERVED.</div>
			</div>
		</footer>
	</div>
</body>
</html>
