<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- css ファイルの宣言 -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<!-- Bootstrap(css)の宣言 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<!-- Bootstrap(javascript)の宣言 -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>貸出中書籍確認画面</title>
</head>
<body>
	<div class="d-flex flex-column vh-100">
		<header class="px-3 py-4 bg-dark-subtle border-bottom border-dark-subtle">
			<div class="d-flex align-items-center justify-content-between">
				<a href="/book_forest_takayukimuranaka" class="link-body-emphasis text-decoration-none fs-4">
					Feepsネット図書館～図書の森～
				</a> 
				<div class="d-flex align-items-center fs-5">
					<div class="me-3">
						ようこそ <a href="/book_forest_takayukimuranaka/user/edit"><span th:text="${session.user.userName}"></span></a> さん
					</div>
					<a href="/book_forest_takayukimuranaka/auth/logout" class="btn btn-outline-danger">ログアウト</a>
				</div>
			</div>
		</header>
		<div class="d-flex flex-grow-1 justify-content-center align-items-center">
			<div class="card card-size-sm">
				<div class="card-body px-5 py-4">
					<h5 class="card-title fw-bold">
						貸出中書籍確認
					</h5>
					<div class="mt-4">
						<div class="form-label">書籍ID：</div>
						<div th:text="${rentalDetail.bookId}" class="fs-5 border-bottom"></div>
					</div>
					<div class="mt-3">
						<div class="form-label">タイトル：</div>
						<div th:text="${rentalDetail.title}" class="fs-5 border-bottom"></div>
					</div>
					<div class="mt-3">
						<div class="form-label">著者：</div>
 						<div th:text="${rentalDetail.author}" class="fs-5 border-bottom"></div>
					</div>
					<div class="mt-3">
						<div class="form-label">貸出日：</div>
 						<div th:text="${#temporals.format(rentalDetail.rentalLocalDate, 'yyyy年MM月dd日')}" class="fs-5 border-bottom"></div>
					</div>
					<div class="mt-3">
						<div class="form-label">返却日：</div>
 						<div th:text="${#temporals.format(rentalDetail.dueLocalDate, 'yyyy年MM月dd日')}" class="fs-5 border-bottom"></div>
					</div>
					<input type="button" onClick="location.href='/book_forest_takayukimuranaka/books'" value="戻る" class="mt-5 btn btn-secondary w-100" />
				</div>
			</div>
		</div>
		<footer class="bg-light-subtle border-top bg-light-subtle">
			<div class="text-center">
				<div class="py-3 text-muted">COPYRIGHT © 2024 takayuki muranaka - ALL RIGHTS RESERVED.</div>
			</div>
		</footer>
	</div>
</body>
</html>